:root {
  --color-primary: hsl(158, 36%, 37%);
  --color-secondary: hsl(30, 38%, 92%);
  --color-neutral1: hsl(212, 21%, 14%);
  --color-neutral2: hsl(228, 12%, 48%);
  --color-neutral3: hsl(0, 0%, 100%);
}
body {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-secondary);
  font-size: 14px;
}
.container {
  display: flex;
  margin: auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.wrapper {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  border-radius: 25px;
  overflow: hidden;
}
.image {
  grid-column: 1/2;
}
.image img {
  max-width: 100%;
}
.content {
  grid-column: 2/3;
}
.content h2 {
}
.content h1 {
}
.content p {
}
.price1 {
}
.price2 {
}
.content button {
}
@media screen and (max-width: 375px) {
}
