*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-lime-green: hsl(163, 72%, 41%);
  --color-bright-red: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram-linear-gradient-part-1: hsl(37, 97%, 70%);
  --color-instagram-linear-gradient-part-2: hsl(329, 70%, 58%);
  --color-instagram-linear-gradient: linear-gradient(
    to right,
    var(--color-instagram-linear-gradient-part-1),
    var(--color-instagram-linear-gradient-part-2)
  );
  --color-youtube: hsl(348, 97%, 39%);
  --color-light-theme: hsl(230, 22%, 74%);
  --color-light-theme-card-background: hsl(227, 47%, 96%);
  --color-light-theme-light-grayish-blue-text: hsl(228, 12%, 44%);
  --color-light-theme-very-dark-blue-text: hsl(230, 17%, 14%);
  --color-light-theme-background: hsl(0, 0%, 100%);
  --color-light-theme-top-background-pattern: hsl(225, 100%, 98%);
  --color-dark-theme-linear-gradient-part-1: hsl(210, 78%, 56%);
  --color-dark-theme-linear-gradient-part-2: hsl(146, 68%, 55%);
  --color-dark-theme-linear-gradient: linear-gradient(
    to right,
    var(--color-dark-theme-linear-gradient-part-1),
    var(--color-dark-theme-linear-gradient-part-2)
  );
  --bg-color: linear-gradient(180deg, #191926 30%, #10101a 0);
  --color-dark-theme-very-dark-blue-background: hsl(230, 17%, 14%);
  --color-dark-theme-very-dark-blue-top-background-pattern: hsl(232, 19%, 15%);
  --color-dark-theme-very-dark-blue-card-background: hsl(228, 28%, 20%);
  --color-dark-theme-very-dark-blue-text-blue: hsl(228, 34%, 66%);
  --color-dark-theme-very-dark-blue-text-white: hsl(0, 0%, 100%);
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  margin-bottom: 75px;
  line-height: 1.6;
  color: var(--color-light-theme-light-grayish-blue-text);
  max-height: 87vh;
  background: var(--color-light-theme-background);
  background-repeat: no-repeat;
  font-size: 0.875rem;
}
h2 {
  margin-top: 25px;
  margin-bottom: 0;
}
p {
  color: var(--color-light-theme-light-grayish-blue-text);
}
span {
  color: var(--color-light-theme-light-grayish-blue-text);
}
.background {
  position: absolute;
  background: var(--color-light-theme-top-background-pattern);
  height: 25vh;
  width: 100%;
  z-index: -1;
}
.wrapper {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-rows: 15% 30% 10% 45%;
}
.top__part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top__part h1 {
  font-size: 1.5rem;
  margin-bottom: 0px;
  color: var(--color-light-theme-very-dark-blue-text);
  font-weight: bold;
}
.top__part p {
  margin-top: 0px;
  color: var(--color-light-theme-very-dark-blue-text);
  font-weight: bold;
}
.switch__wrapper {
  padding: 20px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.switch__wrapper span {
  color: var(--color-light-theme-light-grayish-blue-text);
  margin-right: 5px;
  font-weight: bold;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/* SWITCH */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-dark-theme-linear-gradient);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background: var(--color-dark-theme-very-dark-blue-top-background-pattern);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background: var(--color-light-theme-light-grayish-blue-text);
}

input:focus + .slider {
  box-shadow: var(--color-light-theme-light-grayish-blue-text);
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background: var(--color-light-theme-top-background-pattern);
}
/* SWITCH */
.middle__part {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.middle__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: var(--color-light-theme-card-background);
  border-radius: 5px;
  padding: 15px;
}
.instagram__card {
  padding-top: 22px;
}
.img__wrapper {
  display: flex;
}
.img__wrapper span {
  font-weight: bold;
}
.img__wrapper img {
  margin-right: 5px;
}

.middle__card p:nth-child(2),
.instagram__card p:nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  color: var(--color-light-theme-very-dark-blue-text);
}
.middle__card p:nth-child(3),
.instagram__card p:nth-child(4) {
  text-transform: uppercase;
  margin-top: 0px;
  letter-spacing: 5px;
}
.number__up {
  color: var(--color-lime-green);
  font-weight: bold;
}
.number__down {
  color: var(--color-bright-red);
  font-weight: bold;
}

.facebook__card {
  border-top: 5px solid var(--color-facebook);
}
.instagram__card {
  position: relative;
}
.instagram__border {
  position: absolute;
  z-index: 2;
  top: 0px;
  height: 5px;
  width: 100%;
  background: var(--color-instagram-linear-gradient);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.twitter__card {
  border-top: 5px solid var(--color-twitter);
}
.youtube__card {
  border-top: 5px solid var(--color-youtube);
}
.bottom__card__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
.bottom__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: var(--color-light-theme-card-background);
  border-radius: 5px;
  padding: 15px;
}
.bottom__card * {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.bottom__card p {
  margin: 0px;
  font-weight: bold;
  font-size: 0.8rem;
  justify-content: flex-start;
}
.bottom__card span {
  font-weight: bold;
}
.bottom__card p:nth-child(3) {
  font-size: 2rem;
  color: var(--color-light-theme-very-dark-blue-text);
}
@media screen and (max-width: 376px) {
  .background {
    height: 100px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
