*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-lime-green: hsl(163, 72%, 41%);
  --color-bright-red: hsl(356, 69%, 56%);
  --color-facebook: hsl(208, 92%, 53%);
  --color-twitter: hsl(203, 89%, 53%);
  --color-instagram-linear-gradient-part-1: hsl(37, 97%, 70%);
  --color-instagram-linear-gradient-part-2: hsl(329, 70%, 58%);
  --color-instagram-linear-gradient: linear-gradient(
    to right,
    var(--color-instagram-linear-gradient-part-1),
    var(--color-instagram-linear-gradient-part-2)
  );
  --color-youtube: hsl(348, 97%, 39%);
  --color-light-theme: hsl(230, 22%, 74%);
  --color-light-theme-card-background: hsl(227, 47%, 96%);
  --color-light-theme-light-grayish-blue-text: hsl(228, 12%, 44%);
  --color-light-theme-very-dark-blue-text: hsl(230, 17%, 14%);
  --color-light-theme-background: hsl(0, 0%, 100%);
  --color-light-theme-top-background-pattern: hsl(225, 100%, 98%);
}

:root .dark-theme {
  --color-dark-theme-linear-gradient-part-1: hsl(210, 78%, 56%);
  --color-dark-theme-linear-gradient-part-2: hsl(146, 68%, 55%);
  --color-dark-theme-linear-gradient: linear-gradient(
    to right,
    var(--color-dark-theme-linear-gradient-part-1),
    var(--color-dark-theme-linear-gradient-part-2)
  );
  --bg-color: linear-gradient(180deg, #191926 30%, #10101a 0);
  --color-dark-theme-very-dark-blue-background: hsl(230, 17%, 14%);
  --color-dark-theme-very-dark-blue-top-background-pattern: hsl(232, 19%, 15%);
  --color-dark-theme-very-dark-blue-card-background: hsl(228, 28%, 20%);
  --color-dark-theme-very-dark-blue-text-blue: hsl(228, 34%, 66%);
  --color-dark-theme-very-dark-blue-text-white: hsl(0, 0%, 100%);
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  background: var();
}
body {
  margin: 0;
  line-height: 1.6;
  color: var(--color-light-theme-light-grayish-blue-text);
  min-height: 100vh;
  background: var(--color-light-theme-background);
  background-repeat: no-repeat;
  font-size: 0.875rem;
}
